.btn-primary {
  background-color: $brand-yellow;
  color: #855b35;
  &:hover {
    background-color: #ffdc5c;
  }
}

.btn-secondary {
  border: 0.1rem solid $brand-blue-light;
  color: $brand-blue-light;
  &:hover {
    background-color: $brand-blue-light;
    color: $white;
  }
  &.white {
    border: 0.1rem solid $white;
    color: $white;
    &:hover {
      background-color: $white;
      color: $brand-green;
    }
  }
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 0 2.6rem;
  border-radius: 12.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 4.8rem;
  transition: all 0.3s;
}
